name: Latest repositories workflow

on:
  schedule:
    - cron: '0 * * * *' # Executar o fluxo de trabalho automaticamente a cada hora, na hora
  workflow_dispatch: # Executar o fluxo de trabalho manualmente

permissions:
  contents: write # Para escrever os conteúdos gerados no arquivo README

jobs:
  update-readme-with-repos:
    name: Update README with latest repositories
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in latest repositories
        run: |
          curl -s "https://api.github.com/users/${{ github.actor }}/repos?per_page=5&sort=created" | jq -r '.[].name' > temp.txt
          echo "## Últimos Repositórios" > README_temp.md
          while IFS= read -r line; do
            echo "- $line" >> README_temp.md
          done < temp.txt
          cat README_temp.md >> README.md
          rm temp.txt README_temp.md
